:root {
  --color-primary: #574AE2; /* Majorelle Blue */
  --color-secondary: #1b1b1b; /* Eerie Dark */
  --color-tertiary: #DB162F; /* Fire Engine Red*/
  --color-accent: #95A5A6; /* Cadet Gray */
  --color-background: #F7F7F7; /* Seasalt */
}

.template-primary {
  background-color: var(--color-background);
}