.sect_divider {
  width: 100%;
  padding: 50px;
}

.sect_divider h2 {
  font-size: 32px;
  font-family: var(--font-outfit);
  font-weight: 300;
}

.line {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #B2B2B2;
}