.slider_container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.controller {
  top: 10px;
  left: 10px;
  display: flex;
  position: absolute;
  z-index: 100;
}

.button, .button_active {
  background-color: transparent;
  font-family: var(--font-outfit);
  font-size: 16px;
  color: white;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
  transition: 150ms ease-in-out;

  border: none;
  border-top: 2px solid transparent;
}

.button {
  transform: scale(80%);
}

.button_active {
  border-top: 2px solid white;
}

.button:hover {
  transform: scale(100%);
}

.parent_slider {
  width: 100%;
  height: 100%;
  display: flex;
  transition: 300ms ease-in-out;
}

.slider {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
